.reveal{

  h1{
    margin-bottom: 0;
  }

  .subtitle{
    margin-top: 0;
  }

  .title-slide{
    p{
      //width: 400px;
      font-size: 48%;
      margin-top: 1em;
      margin-bottom: 0;
    }

    img{
      &.gladeye-logo{

        width: 150px;
      }
    }
  }

  .gladeye-slide{
    img{
      &.gladeye-logo{
        margin-top: 0;
      }
    }
  }

  .logo-matrix{
    margin-top: 2em;
    p{
      margin: 0.3em;

      img{
        margin: 0.3em;
      }
    }
  }

  section{

    .loader{
      margin: auto;
      width: 88px;
      height: 88px;
      position: absolute;
      z-index: -1;
      top:0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    img {

      border: 0;
      background: none;
      box-shadow: none;

      &.gladeye-logo {

        width: 400px;
      }
    }
  }




}

.example-window{
  width: 100%;
  height: 350px;

  &__opaque{
    background: #fff;
  }

  &__short{
    height: 300px;
  }

  &__half{
    width: 450px;
  }

  &__tall{
    height: 350px;
  }
}

a.btn{
  &__view-demo{
    padding: 20px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 5px;

    &:hover{
      background-color: rgba(128,128,128,1);
    }


  }
}

@import "loaders/spin";